* {
    font-family: "Nunito", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  $primary-color: #7c041c;

  
  .menu-icon {
    width: 17px;
    height: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
  
    div {
      height: 2px;
      background-color: #222;
      border-radius: 4px;
      transition: 0.3s;
    }
    
  &.active div:nth-child(1) {
    transform: rotate(45deg) translate(3px, 4px);
  }

  &.active div:nth-child(2) {
    opacity: 0;
  }

  &.active div:nth-child(3) {
    transform: rotate(-45deg) translate(4px, -5px);
  }
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  height: 63px;
  margin: 0 auto;
}
  .header-part{
    display: flex;
    gap:13px;
    align-items: center;
    margin: auto 0;
  }
  .logo{
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 300;
    padding-right: 20px;
    letter-spacing: 3px;
    cursor: pointer;
    a{
      text-decoration: none;
      color: #222;
    }
  }
  #language-select{
    height: 24px;
    outline: none;
    border-color: $primary-color;
    margin-left: 10px;
  }

  .flex{
    display: flex;
    align-items: center;
  }

  .menu {
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    position: absolute;
    left: 0;
    top: 63px;
    padding-top: 20px;
    width: 100%;
    background-color: white;
    z-index: 1000;  
    &.active {
      transform: translateX(0%);
    }
    .menu-list{
      flex-direction: column;
      align-items: flex-start;
      list-style: none;
      font-weight: 500;
      gap: 40px;
    }

    li{
      transition: 0.3s;
    }
    li:hover{
      color: $primary-color;
      cursor: pointer;
    }
  }
  .phone-number{
    font-size: .9rem;
    text-decoration:underline;
    text-decoration-color: $primary-color;
    cursor: pointer;
  }

.swiper {
  position: relative;
  width: 100vw;
  height: 400px;
  overflow: hidden;
}

.swiper-wrapper {
  display: flex;
  transition-property: transform;
  position: relative;
}
.shadow{
  position: absolute;
  top: 0;
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.379), transparent);
  height: 400px;
  width: 100%;
  left: 0;
}
.swiper-slide {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;     
  justify-content: center; 
  text-align: start;
  font-size: 1rem;
  background: url('/images/1.png') center/cover;
  
  h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    height: 400px;
    text-shadow: 5px 5px 15px #222;
    font-weight: 400;
    position: absolute;
    left: 10%;
    text-align: start;
    z-index: 5;
  }
}  



.swiper-button-next{
  left: 44px !important;
}
.swiper-button-prev{
  left: 0px !important;
}
.swiper-button-next,
.swiper-button-prev {
  color: $primary-color !important;
  width: 44px !important;
  height: 38px !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: .8rem !important;
}


.arrows-container {
  position: absolute;
  bottom: 0px;
  width: 88px;
  z-index: 100;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  padding: 10px 0;
  transform: translateX(-50%);
}


.line{
  height: 18px;
  width: 1px;
  background: #ddd;
}

.apply-section{
display: flex;
justify-content: space-between;
padding: 2rem 3rem;
}

.dark-btn{
  background: #000;
  color: white;
  width: 230px;
  height: 55px;
  font-weight: 600;
  border: 0;
  cursor: pointer;
  transition: all .2s;
}

.dark-btn:hover{
  background: $primary-color;
}
.dark-btn:active{
  background: $primary-color;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
  position: relative;
}

.close {
  position: absolute;
  top: 5px;
  right: 15px;
  cursor: pointer;
  font-size: 1.5rem;
}

.hidden {
  display: none;
}
.icons{
  gap: 20px;
  font-size: 1.5rem;
  a{
    color: #000;
    transition: all .1s;
  }
  a:hover{
    color: $primary-color;
  }
}
  @media (min-width: 768px) {
    .logo{
        font-size: 1.5rem;
        padding-left: 10px;
    }
    .swiper-slide {
font-size: 1.3rem;
    }
  }
  @media (min-width: 1000px) {
    .menu{
      display:flex;
      transform: translateX(0%) !important;
      position: static;
      background: transparent;
      padding-top: 0;
    }
    .menu-icon{
      display: none;
    }
    .menu-list{
      flex-direction: row !important;
      align-items: center;
      justify-content: center;
    }
    .phone-number{
      display: none;
    }
    .swiper-slide{
    font-size: 1.7rem;
    }
  }