* {
    font-family: "Nunito", sans-serif;

  }

  $primary-color: #7c041c;

  
  .menu-icon {
    width: 17px;
    height: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
  
    div {
      height: 2px;
      background-color: #222;
      border-radius: 4px;
      transition: 0.3s;
    }
    
  &.active div:nth-child(1) {
    transform: rotate(45deg) translate(3px, 4px);
  }

  &.active div:nth-child(2) {
    opacity: 0;
  }

  &.active div:nth-child(3) {
    transform: rotate(-45deg) translate(4px, -5px);
  }
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  height: 63px;
  margin: 0 auto;
}
  .header-part{
    display: flex;
    gap:13px;
    align-items: center;
    margin: auto 0;
  }
  .logo{
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 300;
    letter-spacing: 3px;
    cursor: pointer;
    a{
      text-decoration: none;
      color: #222;
    }
  }
  #language-select{
    height: 24px;
    outline: none;
    border-color: $primary-color;
    margin-left: 10px;
  }

  .flex{
    display: flex;
    align-items: center;
  }

  .menu {
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    position: absolute;
    left: 0;
    top: 63px;
    padding-top: 20px;
    width: 100%;
    background-color: white;
    z-index: 1000;  
    &.active {
      transform: translateX(0%);
    }
    .menu-list{
      flex-direction: column;
      align-items: flex-start;
      list-style: none;
      font-weight: 500;
      gap: 40px;
    }

    li{
      transition: 0.3s;
    }
    li:hover{
      color: #7c041c;
      cursor: pointer;
    }
  }
  .phone-number{
    font-size: .9rem;
    text-decoration:underline;
    text-decoration-color: #7c041c;
    cursor: pointer;
  }

.swiper {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.swiper-wrapper {
  display: flex;
  transition-property: transform;
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  background: #f4f4f4;
}


  @media (min-width: 768px) {
    .logo{
        font-size: 1.5rem;
        padding-left: 10px;
    }
  }
  @media (min-width: 1000px) {
    .menu{
      display:flex;
      transform: translateX(0%) !important;
      position: static;
      background: transparent;
      padding-top: 0;
    }
    .menu-icon{
      display: none;
    }
    .menu-list{
      flex-direction: row !important;
      align-items: center;
      justify-content: center;
    }
    .phone-number{
      display: none;
    }
  }